.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    max-height: 90%;
  }
  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.6;
    }

    &::after {
      content: '<h1 />';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      margin-top: 18px;
      margin-left: 20px;
      opacity: 0.6;
      animation: fadeIn 1s 1.7s backwards;
    }
  }

  .skills {
    margin-top: 10%;
    margin-left: -10px;
    width: 130%;
  }
  ul {
    position: relative;
    color: #ffd700;
    list-style: square;
    display: inline-block;
    margin-left: -20px;
    letter-spacing: 2px;
    li {
      opacity: 1;
      animation: fadeIn 2s 2s backwards;
    }
    .no-bullet {
      list-style: none;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }
  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 40px;
    float: left;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
      opacity: 0.5;
    }
  }
}

.kaseyImg {
  opacity: 0.6;
  width: 30%;
  height: auto;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #ffd700;
  margin-left: 55%;
  margin-top: 25%;
  animation: fadeIn 2s 2s backwards;
}



